-# expects posts : [BiographyItem]

.card-text 
  %table.table
    %thead
      %th{ scope: :col } #
      %th{ scope: :col } House 
      %th{ scope: :col } Role
      %th{ scope: :col } Dates
    %tbody
      - posts.sort_by(&:start_date).reverse.each_with_index do |post, idx|
        %tr{ class: post.end_date ? nil : 'table-info'}
          %th{ scope: :row }= idx+1
          %td= post.house == 1 ? 'Commons' : 'Lords'
          %td
            - if !post.additional_info_link.nil?
              %a{ href: post.additional_info_link }= post.name
            - else
              = post.name
          %td
            = post.start_date.to_date.to_fs(:rfc822)
            &ndash;
            = post.end_date ? post.end_date.to_date.to_fs(:rfc822) : 'current'

