
%turbo-frame#biography
  .card.shadow-sm
    .card-header 
      Biography
    .card-body
      %h5.card-title Representations

      %ul.timeline-with-icons.ms-3.mt-3
        - @biography.representations.sort_by(&:start_date).reverse.each do |representation| 
          %li.timeline-item.mb-5
            %span.timeline-icon
              - if representation.end_date.nil?
                %i.fa-solid.fa-location-dot.text-primary.fa-sm.fa-fw
              -else 
                %i.fa-solid.fa-location-pin.text-primary.fa-sm.fa-fw
            %h6= representation.name
        
        
            %p.text-body-secondary.mb-2 
              #{representation.start_date.to_date.to_fs(:long_ordinal)}&ndash;#{representation.end_date ? representation.end_date.to_date.to_fs(:long_ordinal) : 'present' },
              - if representation.end_date.nil? 
                #{distance_of_time_in_words_to_now(representation.start_date)}.
              - else 
                #{distance_of_time_in_words(representation.start_date, representation.end_date)}.
              - if representation.additional_info 
                #{representation.additional_info}.
      
      - unless @biography.government_posts.empty?
        %h5.card-title  Government posts
        %p= render partial: 'posts', locals: {posts: @biography.government_posts}
      
      - unless @biography.opposition_posts.empty?
        %h5.card-title  Opposition posts
        %p= render partial: 'posts', locals: {posts: @biography.opposition_posts}

      - unless @biography.committee_memberships.empty?
        %h5.card-title  Committee memberships 
        %p= render partial: 'posts', locals: {posts: @biography.committee_memberships}

