- unless posts.blank?
  .row.mt-5
    .col-sm-12
      %h4 Government / Opposition posts
      %table.table
        %thead
          %tr
            %th{ scope: :col } Post
            %th{ scope: :col } Dates
            %th{ scope: :col }
        %tbody
          - posts.each do |post|
            %tr{ class: (post.active? ? 'bg-white' : '' ) }
              %td
                = post.hansard_name || post.name
              %td
                = post.start_date.to_s( :gb )
                = '&mdash;'.html_safe
                = post.end_date.try( :to_s, :gb )
                %br
                %span.small= distance_of_time_in_words( post.start_date, post.end_date || Date.today )
              %td.text-right
                - if ! post.is_unpaid?
                  %span.badge.badge-pill.badge-secondary paid post 
                - if post.is_joint?
                  %span.badge.badge-pill.badge-secondary jointly held