- if ! @member.blank?
  .container
    .row.pt-5.mt-5
      .col-lg-4.col-md-6.col-sm-12
        .card
          = image_tag "http://data.parliament.uk/membersdataplatform/services/images/MemberPhoto/#{@member.member_id}/", class: 'card-img-top'
          .card-body
            %h3.card-title
              = @member.display_as
            %h5.card-title
              = @member.party
            %p.card-text.small
              = @member.member_from
      .col-lg-8.col-md-6.col-sm-12
        %h2 Biography
        = biographize( @member )
  
    = render partial: 'posts',          locals:{ posts:          @member.posts          } 
    = render partial: 'committees',     locals:{ committees:     @member.committees     }
    = render partial: 'constituencies', locals:{ constituencies: @member.constituencies }
                    
      
    
- else
  Oops, can't find that member of parliament