%turbo-frame#contributions
  .card 
    .card-header
      .row
        .col 
          %nav
            %ol.breadcrumb
              %li.breadcrumb-item
                %a{ href: member_contributions_path(params[:member_id]) } Spoken contributions
              %li.breadcrumb-item.active= @debate.dig('Overview', 'Title')

        .col.text-end= @debate.dig('Overview', 'Location')
    .card-body
      - @debate['Items'].reject{ |i| i['MemberId'].nil? }.each do |item| 
        .row.border-bottom.m-3.pb-3
          .col-2
            %a{ href: member_path(item['MemberId']), 'data-turbo-frame' => '_top'}
              %img.img-thumbnail{ src: "https://members-api.parliament.uk/api/Members/#{item['MemberId']}/Thumbnail"}
          .col-10 
            %h6= item['AttributedTo']
            %p= strip_tags item['Value']