%turbo-frame#votes
  .card.shadow-sm
    .card-header
      .row.justify-content-between
        .col-auto.d-none.d-lg-block Divisions
        .col-auto.ms-auto
          = render partial: 'shared/pagination', locals: {total_pages: @total_pages, page: @page, url_helper: -> (page) {member_votes_path(page: page)}, scroll_to: 'votes'}
    .card-body
      %table.table.table-responsive-md
        -@divisions.each_pair do |timestamp, day_divisions|
          %thead
            %tr.table-light.small
              %th= timestamp.to_date.to_fs(:day_and_date)
              %th.text-center Vote 
              -# %th.text-center For / Against (Total)
              %th.text-center Result
              %th 
          %tbody
            - day_divisions.each do |division|
              %tr 
                %td
                  = link_to( division.title, commons_division_path(division.division_ref), data: { turbo_frame: '_top' })
                %td.text-center= division.commons_votes.first.vote.to_s.humanize

                %td.text-center 
                  - if division.aye_count > division.no_count 
                    %span.badge.text-bg-success
                      %i.bi.bi-check-lg
                  - else 
                    %span.badge.text-bg-danger
                      %i.bi.bi-x-lg
                %td{style: 'pointer-events: none'}= pie_chart({ayes: division.aye_count, noes: division.no_count}, colors: ['#32CD32', ' #FF5733'], height: '24px', width: '24px', legend: false)

    .card-footer.text-body-secondary.d-flex.justify-content-end
      = render partial: 'shared/pagination', locals: {total_pages: @total_pages, page: @page, url_helper: -> (page) {member_votes_path(page: page)}, scroll_to: 'votes'}
