!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Portcullis
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.bg-light
    .modal{ tabindex: -1, data: {controller: 'modal', action: 'turbo:frame-load->modal#open turbo:submit-end->modal#close'} }
      .modal-dialog.modal-dialog-centered.modal-l
        %turbo-frame#modal

    = yield
