!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Portcullis
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/site.webmanifest", :rel => "manifest"}/

  %body.bg-light
    = render partial: 'shared/navbar'
    .modal{ tabindex: -1, data: {controller: 'modal', action: 'turbo:frame-load->modal#open turbo:submit-end->modal#close'} }
      .modal-dialog.modal-xl.modal-dialog-centered
        %turbo-frame#modal

    = yield
