
%section.my-3
  .container
    .card.shadow-sm
      .row.g-0
        .col-md-3
          %img.img-fluid.img-fluid.rounded-start{alt: "Official photograph of #{@member.address_as}", src: @member.thumbnail_url}/
        .col-md-9
          .card-body
            %h5.card-title= @member.full_title
            %h6.card-subtitle.text-body-secondary.mb-3= @member.party.name
            %p.card-text 
              = @member.display_as
              #{@member.current? ? 'has been' : 'was'} a member of the House of #{@member.lords? ? 'Lords' : 'Commons'} 
              #{@member.current? ? 'since' : 'between'}
              = @member.start_date.to_date.to_fs(:long_ordinal)
              - if !@member.current?
                and #{@member.end_date.to_date.to_fs(:long_ordinal)},
                #{distance_of_time_in_words(@member.start_date, @member.end_date)}.
              - else
                or #{distance_of_time_in_words(@member.start_date, Date.today)}.
            - if @member.commons?
              %p.card-text
                They #{@member.current? ? 'represent' : 'last represented'} the
                %a{href: constituency_path(@member.constituency_ref )}= @member.constituency_name
                constituency.

%section 
  -# .container.bg-light
  = render partial: 'career'
